@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*body*/
*{
  margin: 0;
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

/*headerlogo area and navigations*/

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

#kids{
  color: yellow;
}

#menu {
  font-size: 110%;
  letter-spacing: 2px;
}

#menu, #logo {
  line-height: 100px;
}

#menu li {
  
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  border: 0.5px solid transparent;
  transition: 0.3s ease;
}

#menu a:hover {
  background-color: #fff;
  color: black;
}

.nav-area{
  width: 100%;
  height: 100px;
  color: #fff;
  background: #0f4675;
  font-family: sans-serif;
  align-items: center;
  position: fixed;
  
}

#logo{
  color: #fff;
}

 

.middle_info {
    text-align: center;
    padding-top: 340px;
    padding-bottom: 250px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/computer.jpg);
    background-size: cover;
    font-family: Roboto, sans-serif;
    background-position: center; 
   

}


.cover_text{
  color: #fff;
  font-family: lato;
  font-size: 35px;
  
}

  .middle_info p{
    font-size: 17px;
  }




/*about us section*/
.about_us{
  width: 90%;
  text-align: center;
  padding-top: 100px;
  margin-left: 70px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

#para {color: #777;}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.about_col{
  flex-basis: 31%;
  background: pink;
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 20px 20px;
  box-sizing: border-box;
  transition: 0.3s;
}


.about_col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .5);

}




/* about us end */

.why-choose-us{
  width: 100%;
  padding: 50px 0;
}

.choose_us h1{
  margin: auto;
  font-size: 50px;
  font-weight: bold;
}

.choose_us_box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.reasons{
  flex-basis: 40%;
}

.reasons_img{
  flex-basis: 50%;
  margin: auto;
  
}

.reasons_img img{
  width: 70%;
  border-radius: 10px;
 
}

.reasons h1{
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  color: #009688;

}

.reasons_description{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.reasons_icon .fa{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #009688;
  border: 1px solid #009688;

}

.reasons_text p{
  padding: 0 20px;
  text-align: initial;

}

/* end of about us CSS*/

/*facilities start section*/

.facilities{
  width: 100%;
  padding: 50px 0;
}

.facilities_col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities_col img{
  width: 100%;
  border-radius: 10px;
}

.facilities_col p{
padding: 0;
}

.facilities_col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.f_text h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  
}

.f_text p{
  text-align: center;
}
/*facilities end section*/

/*team start section*/


/*team end section*/


#footer{
  padding: 90px 0 20px;
  background: blue;
}

#footer_p,#footer_h{
  text-align: center;
}

.title-text{
  padding-bottom: 10px;
}

.footer_row{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.footer_right, .footer_left{

  flex-basis: 45%;
  margin-bottom: 20px;

}

.footer_right{
  text-align: right;
}

.social_icons{
  display: flex;
  justify-content: center;
}

.social_icons a{
  text-decoration: none;
  padding: 10px;
  background-color: orangered;
  margin: 20px;
  border-radius: 50%;
}

.social_icons a i{
  font-size: 2rem;
  color: black;
  opacity: 0.9;
}

.footer_bottom{
  background-color: green;
  padding: 28px;
  text-align: center;
}

.bottom{
  background-color: green;
  padding: 10px;
  
}

.footer_bottom p{
  color: yellow;
}

/* hover effect for social icons*/
.social_icons a:hover{
  background-color: blue;
  transition: 0.3s;
}

.social_icons a:hover i{
  color: yellow;
  transition: 0.3s;
}

/*media queries for footer*/
@media screen and (max-width: 700px){

}
/*media queries for navbar to be responsice on all screens*/


/* for navbar icons to only show on small screens */
@media screen and (max-width: 770px) {

  #menu {
      clear: left;
      display: flex;
    
      margin-left: 3px;
      margin-right: 6px;
      margin-bottom: 20px;
      line-height: 25px;
      padding-left: 20px;
      align-items: center;
      font-size: 17px;
      
  }

  .logo-container{
    font-size: 15px;
    margin-bottom: 20px;

    
  }

.nav-area{
 
  height: 25vh;
}

.cover_text{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.cover_text{
  line-height: 32px;
}





}


@media screen and (max-width: 770px){
/*about us section*/
.row{
  flex-direction: column;
}

.about_us{
  
  padding-left: 10px;
  margin-right: 1000px;
  

}}

@media screen and (max-width: 770px){
  /*why choose us media queries*/
  
  .choose_us h1{
    font-size: 35px;
  
  }
  
  .reasons{
  flex-basis: 50%;
  }}

  /*END OFMmedia queries for navbar to be responsice on all screens*/
