@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*body*/
*{
  margin: 0%;
  padding: 0%;
  margin-top: 0%;
  border: none;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

/*headerlogo area and navigations*/

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

#kids{
  color: yellow;
}

#menu {
  font-size: 110%;
  letter-spacing: 2px;
}

#menu, #logo {
  line-height: 100px;
}

#menu li {
  
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  border: 0.5px solid transparent;
  transition: 0.3s ease;
}

#menu a:hover {
  background-color: #fff;
  color: black;
}

.nav-area{
  width: 100%;
  height: 100px;
  color: #fff;
  background: #0f4675;
  font-family: sans-serif;
  align-items: center;
  position: fixed;
  
}

#logo{
  color: #fff;
}

 

.middle_info {
    text-align: center;
    padding-top: 340px;
    padding-bottom: 250px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/computer.jpg);
    background-size: cover;
    font-family: Roboto, sans-serif;
    background-position: center; 
   

}


.cover_text{
  color: #fff;
  font-family: lato;
  font-size: 35px;
  
}

  .middle_info p{
    font-size: 17px;
  }


/* for navbar icons to only show on small screens */
@media screen and (max-width: 950px) {

  #menu {
      clear: left;
      display: flex;
    
      margin-left: 3px;
      margin-right: 6px;
      margin-bottom: 20px;
      line-height: 25px;
      padding-left: 20px;
      align-items: center;
      font-size: 17px;
      
  }

  .logo-container{
    font-size: 15px;
    margin-bottom: 20px;

    
  }

.nav-area{
 
  height: 25vh;
}

.cover_text{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.cover_text{
  line-height: 32px;
}

/*about us section*/
.row{
  flex-direction: column;
}

.about_us{
  
  padding-left: 10px;
  margin-right: 1000px;
  

}

}

/*about us section*/
.about_us{
  width: 90%;
  text-align: center;
  padding-top: 100px;
  margin-left: 70px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

#para {color: #777;}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.about_col{
  flex-basis: 31%;
  background: pink;
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 20px 20px;
  box-sizing: border-box;
  transition: 0.3s;
}


.about_col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .5);

}
/* end of about us CSS*/

/*facilities start section*/

.facilities_col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities_col img{
  width: 100%;
  border-radius: 10px;
}

.facilities_col p{
padding: 0;
}

.facilities_col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
/*facilities end section*/

/*team start section*/
.team_colomn{
  flex-basis: 31%;
  background: pink;
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 20px 20px;
  box-sizing: border-box;
  transition: 0.3s;
}

.team{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/*team end section*/


#footer{
  padding: 100px 0 20px;
  background: antiquewhite;
}

#footer_p,#footer_h{
  text-align: center;
}

.title-text{
  padding-bottom: 10px;
}

.footer_row{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.footer_right, .footer_left{

  flex-basis: 45%;
  margin-bottom: 20px;

}

.footer_right{
  text-align: right;
}
/*media queries for navbar to be responsice on all screens*/

  /*END OFMmedia queries for navbar to be responsice on all screens*/
